
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}

.App {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}


.header {
  font-weight: 900;
  font-size: 2rem;
  background-color: #ff6f61;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 15px 15px 0 0;
}


.formHeader {
  margin: 20px 0;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.addContacts {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #e55d50;
  transform: scale(1.05);
}


.contact-list {
  margin-top: 20px;
}

.contact-item {
  padding: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-item:last-child {
  border-bottom: none;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-details div {
  margin: 2px 0;
}

.delete-icon {
  color: #ff6f61;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.delete-icon:hover {
  color: #e55d50;
  transform: scale(1.2);
}


.formHeader input:focus {
  border-color: #ff6f61;
  outline: none;
}

.formHeader button:focus {
  outline: none;
}

.contact-item:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

